:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-left-wrapper {
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff; // fondo blanco
}